@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

.slick-list {
  overflow: visible !important;
}

.slick-slide > div {
  display: flex !important;
  justify-content: center !important;
}
